/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 5 Apr, 2018, 6:47:25 PM
    Author     : sudam
*/

/* Style the tab */

.p-a-0 {
    padding: 0 0 !important;
}
.efb-forms-panels-toggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    padding-top: 60px;
    color: #fff;
    background: #2d2d2d;
    overflow-y: auto;
    text-align: left;
    z-index: 10;
}

#id_error_template_title {
    color: red;
    display: none;
}
.tab-active{
    background-color: white;
}
.efb-forms-panels-toggle li{
    cursor: pointer;
}
.efb-forms-panels-toggle label{
    padding: 1px 10px;
    color: black;
    text-decoration: none;
}

/* Style the tab content */
.efb-page-content{
    float: left;
    padding: 0px 12px;
    width: 90%;
    border-left: none;
    background: #6b6b6b;
}
.efb-tabcontent {
    padding: 15px;
    height: 100%;
    margin: 0;
}
.efb-tabcontent.content-active{
    display: block;
}
.efb-tabcontent.content-hide{
    display: none;
}
#efb-cont-form-setup.efb-tabcontent {
    padding: 15px;
    height: 100%;
    margin: 0;
}
.efb-tabcontent .efb-form-settings {
    height: 100%;
    background: white;
    overflow: auto;
    padding: 25px;
}
.efb-form-step.efb-form-step-preview {
    position: absolute;
    bottom: 25px;
    right: 275px;
    border: 0;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color: white;
    outline: unset;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
    transition: right .5s;
}
.efb-form-step.efb-form-step-preview.collapsed {
    right: 25px;
}
#efb-cont-form-builder {
    margin: 0;
}
.efb-hide{
    display: none !important;
}
#efb-btn-save-form-settings,
#efb-btn-next
{
    float: right;
}
.efb-btn-link{
    right: 1em;
    position: absolute;
    top: 1em;
}
.efb-notice-error{
    color: red;
}
.efb-notice-fail,
.efb-notice-success{
    padding: 0.5em;
    border-radius: 0.3em;
    display: block;
    color: white;
}
.efb-notice-fail{
    background-color: #ff606066;
    border: 1px solid red;
    color: red;
}

.efb-notice-success{
    background-color: #D3FFCD;
    border: 1px solid green;
    color: green;
}
.efb-form-hader{
    position: relative;
    display: flex;

}
.efb-form-msg-wrap{
    width: 100%;
    margin-right: 10%;
}

.efb-tbl-col-shortcode,
.efb-tbl-col-title{
    font-weight: bold;
}
.efb-tbl-col-shortcode {
    cursor: copy;
}

.efb-version-action-menu {
    display: block !important;
}

.step-title {
    display: none;
}
.step-title.active {
    display: block;
}
.efb-editor-toolbar {
    border-bottom: 1px solid #d3d3d3;
    position: fixed;
    top: 0;
    z-index: 140001;
    width: 100%;
    background: #fff;
    text-align: center;
    height: 60px;
}
.efb-editor-logo {
    display: table;
    height: 100%;
    position: absolute;
}
.efb-editor-logo .efb-editor-logo-wrap {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 11px;
}
.efb-editor-logo .efb-editor-logo-wrap img {
    height: 40px;
}
.efb-editor-toolbar > .efb-editor-action {
    display: table;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
}
.efb-editor-toolbar > .efb-editor-action > .efb-editor-action-title {
    display: table-cell;
    vertical-align: middle;
}
.efb-editor-toolbar > .efb-editor-action > .efb-editor-action-title > label {
    margin-bottom: 0;
}
.efb-form-title{
    font-weight: 700;
}
.efb-editor-toolbar > .efb-editor-buttons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: table;
}
.efb-editor-toolbar > .efb-editor-buttons > .efb-editor-button {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: 0 0.5rem;
}
.efb-editor-toolbar > .efb-editor-buttons > .efb-editor-button > .btn {
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 4rem;
}
.efb-editor-toolbar > .efb-editor-buttons > .efb-editor-button > .btn i, .efb-form-save.efb-form-step.btn i {
    padding: 0% 8%;
}
.efb-list-buttons .btn{
    text-transform: uppercase;
    font-weight: 700;
}
.efb-form-builder-wrap {
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.efb-forms-panels-toggle .fa{
    font-size:30px;
    line-height: inherit;
}
.efb-forms-panels-toggle span{
    display: block;
}
.efb-forms-panels-toggle button{
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 10px 0;
}
.efb-panel-btn:not(.panel-active):not(:hover) {
    background-color: transparent !important;
}
.efb-forms-panels {
    display: block;
    position: fixed;
    right: 0;
    left: 110px;
    top: 100px;
    bottom: 0px;
    background: #6b6b6b;
    padding-top: 0;
}
.efb-forms-panels#efb-cont-form-builder {
    margin: 0 !important;
}
.efb-forms-panel-heading {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #f6f6f6;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #d3d3d3;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    line-height: 40px;
}

.efb-forms-editor-body{
    display: flex;
    height: 100%;
    margin-top: 60px;
}

.efb-form-content {
    background: #2e2e2e;
    width: 100%;
    left: 124px;
    position: relative;
}

#efb-forms-setup-name{
    margin: 17px 0 18px 18px;
    height: 55px;
    box-shadow: none;
    border: 1px solid #d6d6d6;
    font-size: 18px;
    width: 420px;
    padding: 0 20px;
}
.efb-form-name{
    border-bottom: 1px solid #d6d6d6;
    overflow: auto;
}
.efb-form-name span{
    display: inline-block;
    font-size: 16px;
    height: 90px;
    float: left;
    border-right: 1px solid #d6d6d6;
    line-height: 90px;
    padding: 0 30px;
}
.efb-forms-setup {
    padding: 0;
    background: white;
    display: grid;
    height: 100%;
    overflow-y: scroll;
}
.efb-forms-setup-title, .efb-forms-upgrade-link {
    padding: 30px;
}
.efb-forms-upgrade-link .efb-forms-upgrade-title {
    margin-top: 4rem;
    font-size: 2rem;
}
.efb-forms-setup-desc{
    color: #666;
    font-size: 16px;
    margin: 0;
}
.efb-forms-setup-templates{
    padding: 0 15px 0 15px;
    margin-top: 30px;
}
.efb-forms-setup-templates .efb-list {
    display: flex;
    flex-wrap: wrap;
}
.efb-forms-setup-templates.pro .efb-forms-template-inner{
    opacity: 0.7;
}
.efb-forms-setup-templates.pro {
    margin-top: 0;
}
.efb-forms-setup-templates .efb-list .efb-forms-template {
    display: inline-flex;
    float: left;
    padding: 10px;
    transition: width 0.5s;
}
/* Medium devices (landscape tablets, 768px and 1023px) */
@media only screen and (max-width: 799px) {
    .efb-forms-setup-templates .efb-list .efb-forms-template {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 800px) {
    .efb-forms-setup-templates .efb-list .efb-forms-template {
        width: 33.333333%;
    }
}

.efb-forms-template-inner {
    border: 1px solid #d6d6d6;
    padding: 20px;
    position: relative;
    height: 100%;
}
.efb-forms-template-name {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}
.efb-forms-template-details {
    margin: 10px 0 0;
}

.efb-forms-template-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.efb-forms-template-select:hover,
.efb-forms-template-select:active,
.efb-forms-template-select:focus{
    background-color: #29666a;
    text-decoration: none;
    color: white;
}

.efb-forms-template-select{
    background-color: #55a1a5;
    border: 1px solid #29666a;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    position: relative;
}
.efb-forms-template-overlay.loading {
    opacity: 1;
}
.efb-forms-template-overlay .efb-forms-template-loading {
    color: white;
    font-size: 3rem;
}
.efb-forms-template-overlay:not(.loading) .efb-forms-template-loading {
    display: none;
}
.efb-forms-template-overlay.loading .efb-forms-template-select {
    display: none;
}
.efb-forms-upgrade-link a {
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    position: relative;
}
.btn-efb-form-upgrade {
    color: #fff;
    background-color: #F86935;
    border-color: #F86935;
    text-decoration: none;
}
.btn-efb-form-upgrade:hover, .btn-efb-form-upgrade:focus, .btn-efb-form-upgrade:active {
    color: #fff;
    background-color: #f74100;
}
.efb-modal .btn-success, .efb-modal .bg-success {
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a;
}
.efb-form-builder-wrap .btn-success:hover, .efb-form-builder-wrap .bg-success:hover, .efb-form-builder-wrap .btn-success:focus, .efb-form-builder-wrap .bg-success:focus, .efb-forms-pro-select:hover, .efb-forms-pro-select:focus {
    background-color: #5cd29d;
    text-decoration: none;
    color: white;
}
.efb-form-builder-wrap .btn-success:actve, .efb-form-builder-wrap .bg-success:actve, .efb-forms-pro-select:active {
    background-color: #36ab7a;
    text-decoration: none;
    color: white;
}
.efb-forms-upgrade-link a {
    border-radius: 3px;
    padding: 8px 15px;
    font-size: 15px;
    margin-left: 1rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.efb-forms-template-overlay:hover {
    opacity: 1;
}

.efb-form-content:after {
    min-height: 6em;
    content: "";
    display: block;
}
.efb-forms-template-inner-selected {
    border: 2px solid #29666a;
    background: #e0fffc;
    opacity: 0.7;
}
.form-page .edwiserform-root-container {
    padding:  2em;
}
.form-page .edwiserform-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.form-page .edwiserform-container.empty {
    box-shadow: none;
}
.form-group.f-input-group, .prop-inputs.form-group {
    margin: 0;
}
.item-handle .svg-icon {
    fill: black;
}
.efb-forms-template .efb-forms-template-inner .efb-forms-template-name .efb-forms-template-active {
    color: #FFFFFF;
    transform: scale(.7);
    padding: .1em 0.3em;
}
.efb-forms-template .efb-forms-template-inner .efb-forms-template-name .efb-forms-pro-label {
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a;
    transform: scale(.7);
    padding: .1em 0.3em;
}
.efb-forms-template:not(.active) .efb-forms-template-inner .efb-forms-template-name .efb-forms-template-active {
    display: none;
}
.efb-forms-template:not(.active) .efb-forms-template-outer {
    border-color: white;
}
.efb-forms-template .efb-forms-template-outer {
    border-width: 1px;
    border-style: solid;
    color: #4a4a4a !important;
    width: 100%;
}
.efb-forms-template:not(.active) .efb-forms-template-outer {
    background: white !important;
}
.efb-forms-template .efb-forms-template-outer .efb-forms-template-inner {
    background-color: rgba(255,255,255,0.8);
}
.notifi-email-group-input, .notifi-email-group-edit {
    border: 0px;
    outline-width: 0px;
    width: 100%;
}
.notifi-email-group {
    width: 100%;
}
.notifi-email-group .email-tag {
    color: white;
    margin: 0 2px 2px 0;
    font-size: 1rem;
    padding: 0px 7px;
}
.notifi-email-group .email-tag:hover {
    color: white;
}
.notifi-email-group .email-tag .email-tag-delete {
    margin-left: 4px;
    font-size: 90%;
}
.efb-import-form-container {
    position: relative;
    pointer-events: none;
}
.efb-import-form-pro-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: white;
}
#efb-basic-form-settings .form-control-feedback {
    width: 100%;
}
#efb-basic-form-settings .form-control {
    display: block;
    width: 70%;
}
#efb-basic-form-settings .editor_atto .form-control {
    width: 100%;
}
.efb-table .icon {
    font-size: 1.3rem;
}
.efb-switch {
  height: 1rem;
  width: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}
.efb-switch input {
  display: none;
}
.efb-switch input:checked + .switch-container .switch-lever {
  left: 1rem;
}
.efb-switch input:not(:checked) + .switch-container .switch-background {
  background-color: #000000 !important;
}
.efb-switch input:not(:checked) + .switch-container .switch-lever {
  left: 0;
  background-color: white !important;
}
.efb-switch .switch-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.efb-switch .switch-container .switch-background {
  height: 0.8rem;
  width: inherit;
  border-radius: 1rem;
  opacity: 0.5;
  margin: 0.35rem 0;
  transition: background-color 0.2s linear;
}
.efb-switch .switch-container .switch-lever {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  top: -0.1rem;
  box-shadow: grey 0px 0px 1px 0px;
  transition: left 0.2s linear, background-color 0.2s linear;
}

.efb-table a .icon{
    color: #76838f;
}
.efb-table.dataTable thead .header:after, .efb-table.dataTable thead .header:before {
    margin-top: 0;
}
.efb-table.dataTable thead .header {
    padding-right: 2rem!important;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* Modal css starts */
.efb-modal.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.efb-modal.modal.show {
    display: table !important;
}
.efb-modal.modal.fade.show {
    opacity: 1;
}
.efb-modal.modal.fade.show .modal-dialog {
    transform: translate(0);
}
.efb-modal.modal .modal-wrap {
    display: table-cell;
    vertical-align: middle;
}
.efb-modal.modal .modal-wrap .modal-dialog {
    background-color: white;
    pointer-events: auto;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-header {
    border-bottom: none;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-header h1, .efb-modal.modal .modal-wrap .modal-dialog .modal-header h2, .efb-modal.modal .modal-wrap .modal-dialog .modal-header h3, .efb-modal.modal .modal-wrap .modal-dialog .modal-header h4, .efb-modal.modal .modal-wrap .modal-dialog .modal-header h5, .efb-modal.modal .modal-wrap .modal-dialog .modal-header h6 {
    word-break: break-all;
    color: white;
    font-weight: 600;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-header button {
    color: white;
    outline: none;
    float: right;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-footer {
    border-top: 1px solid #e9ecef;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}
.efb-modal.modal .modal-wrap .modal-dialog .modal-footer button {
    pointer-events: auto;
}
.efb-modal.modal.pro .efb-modal-delete-form,
.efb-modal.modal.pro .efb-modal-delete-close,
.efb-modal.modal.pro .efb-modal-deleted-close,
.efb-modal.modal.delete .efb-modal-upgrade-pro,
.efb-modal.modal.delete .efb-modal-upgrade-close,
.efb-modal.modal.delete .efb-modal-deleted-close,
.efb-modal.modal.deleted .efb-modal-delete-form,
.efb-modal.modal.deleted .efb-modal-upgrade-pro,
.efb-modal.modal.deleted .efb-modal-delete-close,
.efb-modal.modal.deleted .efb-modal-upgrade-close {
  display: none;
}
/* Modal css ends */
.efb-wrap-list .efb-bottom .efb-list-pagination {
    float: right;
}
.efb-wrap-list .efb-top .efb-listing, .efb-wrap-list .efb-top .efb-form-list-info {
    float: left;
}
.efb-shortcode-copy-note {
    clear: both;
}
.efb-wrap-list .efb-csv-export {
    pointer-events: none;
}
.efb-wrap-list-form-data table.dataTable tbody th {
    font-weight: 600;
}
.d-none {
    display: none;
}
.efb-tabcontent .efb-form-settings::-webkit-scrollbar, .efb-tabcontent .efb-forms-setup::-webkit-scrollbar, .efb-tabcontent .render-form::-webkit-scrollbar, .efb-tabcontent .form-container::-webkit-scrollbar, .efb-forms-panels-toggle::-webkit-scrollbar, .efb-tabcontent .formeo .formeo-controls::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.efb-tabcontent .efb-form-settings::-webkit-scrollbar-track, .efb-tabcontent .efb-forms-setup::-webkit-scrollbar-track, .efb-tabcontent .render-form::-webkit-scrollbar-track, .efb-tabcontent .form-container::-webkit-scrollbar-track, .efb-forms-panels-toggle::-webkit-scrollbar-track, .efb-tabcontent .formeo .formeo-controls::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.efb-tabcontent .efb-form-settings::-webkit-scrollbar-thumb, .efb-tabcontent .efb-forms-setup::-webkit-scrollbar-thumb, .efb-tabcontent .render-form::-webkit-scrollbar-thumb, .efb-tabcontent .form-container::-webkit-scrollbar-thumb, .efb-forms-panels-toggle::-webkit-scrollbar-thumb, .efb-tabcontent .formeo .formeo-controls::-webkit-scrollbar-thumb {
    background: #b8babf;
    border-radius: 5px;
}
/* Handle on hover */
.efb-tabcontent .efb-form-settings::-webkit-scrollbar-thumb:hover, .efb-tabcontent .efb-forms-setup::-webkit-scrollbar-thumb:hover, .efb-tabcontent .render-form::-webkit-scrollbar-thumb:hover, .efb-tabcontent .form-container::-webkit-scrollbar-thumb:hover, .efb-forms-panels-toggle::-webkit-scrollbar-thumb:hover, .efb-tabcontent .formeo .formeo-controls::-webkit-scrollbar-thumb:hover {
    background: #76838f;
}
.efb-toaster.toaster-container {
  position: fixed;
  width: 100%;
  top: 1vw;
  left: 0;
  opacity: 0;
  text-align: center;
  transition: top 0.3s linear, opacity 0.3s linear;
  display: none;
}
.efb-toaster.toaster-container.fade {
  top: 6vw;
  opacity: 1;
}
.efb-toaster.toaster-container.show {
  display: block;
}
.efb-toaster.toaster-container .toaster-message {
  padding: 1rem 2rem;
  color: white;
  border-radius: 2px;
  background-color: #424242;
}
.efb-form-title-container {
    border-bottom: 1px solid #d6d6d6;
}
.efb-form-title-container .efb-form-title-heading {
    display: inline-block;
    font-size: 16px;
    height: 65px;
    float: left;
    border-right: 1px solid #d6d6d6;
    line-height: 70px;
    padding: 0 30px;
}
.efb-form-title-container .efb-form-title-heading i{
    padding-left: 0.5rem;
    cursor: help;
}
.efb-form-title-container #efb-form-title {
    float: left;
    margin: 12px 0 13px 18px;
    height: 40px;
    box-shadow: none;
    font-size: 18px;
    width: 420px;
    padding: 0 20px;
}
.efb-form-title-container:not(.has-danger) #efb-form-title {
    border: 1px solid #d6d6d6;
}
.efb-form-title-container .efb-form-title-warning {
    font-size: 1rem;
    height: 90px;
    float: left;
    line-height: 90px;
    padding: 0 20px;
}
.efb-form-title-container:not(.has-danger) .efb-form-title-warning {
    display: none;
}

.efb-form-icon-btn.btn {
    position: relative;
    padding-left: 3.5rem;
}
.efb-form-icon-btn.btn i {
    position: absolute;
    top: -1px;
    left: -1px;
    line-height: 2.4rem;
    height: 105%;
    padding: 0 10%;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(0,0,0,.2);
}
.efb-list-buttons .efb-form-icon-btn i {
    padding: 0 7%;
}
