@import 'base/variables';
@import 'base/animation';
@import 'base/mixins';
@import 'base/icons';

.build-form {
  &.hidden-controls {
    .formeo {
      .formeo-controls {
          .form-action-buttons {
              position: fixed;
              border: 0;
              right: 1vw;
              display: inline-block;
              width: -webkit-min-content;
              width: min-content;
              margin-top: 5px;
          }
          right: -19.5vw;
          .controls-toggle{
              right: 0vw;
              i {
                  transform: rotateY(180deg);
              }
          }
      }
      .form-wrapper {
          right: 0;
      }
    }
  }
}
.formeo {
  * {
    box-sizing: inherit;
  }
  /* added for only those buttons which is inside formbuilder */

  @import 'base/bs';

  @include clearfix;

  @import 'components/display-label';

  &.formeo-editor {
    @import 'components/stage';
    @import 'components/controls';
    @import 'components/setting-wrap';
    &.hidden-controls {
        .formeo-controls {
            .form-action-buttons {
                position: fixed;
                border: 0;
                right: 1vw;
                display: inline-block;
                width: -webkit-min-content;
                width: min-content;
                margin-top: 5px;
            }
            right: -19.5vw;
            .controls-toggle{
                right: 0vw;
                i {
                    transform: rotateY(180deg);
                }
            }
        }
        .form-wrapper {
            right: 0;
        }
    }
    @import 'base/rtl';
    .stage-wrap {
            display: none;
        &.active {
            display: block;
        }
    }
    [class*=-default] {
      .restore-default {
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-left-color: transparent;
        margin: 4px;
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: -7px;
            bottom: -1px;
            border-width: 6px;
            border-style: solid;
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }
      }
    }
    .form-wrapper {
        position: fixed;
        left: 7.5vw;
        right: 19.5vw;
        bottom: 0;
        top: 125px;
        overflow: auto;
        width: auto;
        padding: 28px;
        transition: right 0.5s;
        .form-settings-actions {
            display: none;
            position: absolute;
            top: 28px;
            right: 28px;
        }
        &:hover {
            .form-settings-actions {
                opacity: 1;
                display: block;
            }
        }
        .form-container {
            display: block;
            padding: 30px 25px 25px;
            background: white;
        }
        .form-settings-edit {
            display: none;
            float: left;
            width: 100%;
            background-color: white;
            padding: 25px;
        }
    }
    &.editing-form-settings {
        .form-wrapper {
            .form-container {
                display: none;
            }
            .form-settings-edit {
                display: block;
            }
        }
    }
    [class*='category-container-'] {
      float: left;
      width: 100%;
      margin-top: 20px;
      box-shadow: 1px 1px 3px rgba(0,0,0,.5);
      &:first-child {
        margin-top: 0px;
      }
      .category-settings {
        padding: 0px;
        transition: height 0.25s linear, margin 0.25s linear;
        overflow: hidden;
        padding: 0 10px;
      }
      .category-label {
        position: relative;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.25s linear;
        i {
          float: right;
          margin: 0 5px;
        }
        &.collapsed {
          i.fa-minus {
            display: none;
          }
        }
        &.collapsible {
          i.fa-plus {
            display: none;
          }
        }
        &.collapsible + .category-settings {
          margin: 10px 0;
        }
        &.collapsed + .category-settings {
          height: 0;
        }
      }
    }
  }

  &.formeo-render {
    @import 'render';
  }
}

.field-control {
  @extend %field-control;

  .svg-icon {
    pointer-events: none;
  }
}

.render-form {
  padding: 25px;
  background: white;
}

.d-none {
  display: none !important;
}

$text: left center right;
@each $alignment in $text {
  .form-submit.text-#{$text} {
    text-align: #{$text} !important;
    padding: 5px;
  }
}

@for $i from 0 through 25 {
  .p-#{$i} {
    padding: #{$i}px !important;
  }
  .px-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .py-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
  .m-#{$i} {
    margin: #{$i}px !important;
  }
  .mx-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .my-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
}
