@import 'base/variables';
@import 'base/mixins';

.formeo {
  * {
    box-sizing: inherit;
  }

  @import 'base/bs';

  @include clearfix;

  &.formeo-editor {

    @import 'base/rtl';
  }

  &.formeo-render {
    @import 'render';
    @import 'base/display-label';
  }
}
.d-none {
  display: none !important;
}

$text: left center right;
@each $alignment in $text {
  .form-submit.text-#{$text} {
    text-align: #{$text} !important;
    padding: 5px;
  }
}
