@import 'base/variables';
@import 'base/mixins';

.formeo {
  * {
    box-sizing: inherit;
  }

  @import 'base/bs';

  @include clearfix;

  &.formeo-editor {

    @import 'base/rtl';
  }

  &.formeo-render {
    @import 'render';
    @import 'base/display-label';
    @include breakpoint(phone-lrg) {
      margin-bottom: 1em;
    }
  }
}
.d-none {
  display: none !important;
}

