 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="efb-forms-setup ">
    <div class="efb-form-title-container">
        <span class="efb-form-title-heading">
            {{#str}} FormTitle, local_edwiserform {{/str}}
        </span>
        <input type="text" class='form-control' id="efb-form-title" placeholder="{{#str}} efb-form-enter-title, local_edwiserform {{/str}}" value="{{panel_setup.title}}">
    </div>
    <div class="efb-forms-setup-title">
        <h2>{{panel_setup.heading}}</h2>
        <p class="efb-forms-setup-desc core">
            {{panel_setup.msg_select_tmpl}}
        </p>
    </div>
    <div id="efb-forms-setup-templates-core" class="efb-forms-setup-templates">
        <div class="efb-list">
            {{#panel_setup.free}}
                <div class="efb-forms-template {{#active}}active{{/active}}" id="efb-forms-template-{{tmpl_id}}">
                    <div class="efb-forms-template-outer btn-primary">
                        <div class="efb-forms-template-inner">
                            <div class="efb-forms-template-name">
                                {{tmpl_name}}
                                <label class="efb-forms-template-active bg-primary m-0">{{#str}} active, local_edwiserform {{/str}}</label>
                            </div>
                            <div class="efb-forms-template-details">
                                <p class="desc">{{desc}}</p>
                            </div>
                            <div class="efb-forms-template-overlay">
                                <a href="#" class="efb-forms-template-select btn-primary" {{#pro}}data-pro="true"{{/pro}} data-template-name="{{tmpl_name}}" data-template="{{tmpl_id}}">
                                    {{tmpl_hover_txt}}
                                </a>
                                <i class="efb-forms-template-loading fa fa-gear fa-spin" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {{/panel_setup.free}}
        </div>
    </div>
    <div class="efb-forms-upgrade-link">
        <h2>{{#str}} efb-setup-need-more-template , local_edwiserform {{/str}}</h2>
        <h4>{{#str}} efb-setup-more-templates-message , local_edwiserform {{/str}}</h4>
        <h2 class="efb-forms-upgrade-title">{{#str}} efb-setup-msg-upgrade , local_edwiserform {{/str}}<a href="" target="_blank" rel="noopener noreferrer">
            {{panel_setup.btn_upgrade}}
        </a></h2>
        <h5>{{#str}} efb-setup-msg-upgrade-desc , local_edwiserform {{/str}}</h5>
    </div>
    <div id="efb-forms-setup-templates-pro" class="efb-forms-setup-templates pro">
        <div class="efb-list">
            {{#panel_setup.pro}}
                <div class="efb-forms-template pro" id="efb-forms-template-{{tmpl_id}}">
                    <div class="efb-forms-template-outer">
                        <div class="efb-forms-template-inner">
                            <div class="efb-forms-template-name">
                                {{tmpl_name}}
                            </div>
                            <div class="efb-forms-template-details">
                                <p class="desc">{{desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/panel_setup.pro}}
        </div>
    </div>
</div>
