<div style="background-color: #efefef; -webkit-text-size-adjust: none !important; margin: 0; padding: 70px 70px 70px 70px;">
    <table id="template_container" style="text-align: center; padding-bottom: 20px; background-color: rgb(223, 223, 223); box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 3px !important; border-radius: 6px !important; margin: auto;" border="0" width="500" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="background-color: #1177d1;border-top-left-radius: 6px !important;border-top-right-radius: 6px !important;border-bottom: 0;font-family: Arial;font-weight: bold;line-height: 100%;vertical-align: middle;">
                    <h1 style="text-align: center;color: white;margin: 0px;padding: 28px 24px;display: block;font-family: Arial;font-size: 30px;font-weight: bold;">
                        {{{title}}}
                    </h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px; background-color: #dfdfdf; border-radius: 6px !important;" align="center" valign="top">
                    <div style="font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;">
                        Hi,
                    </div>
                    <div style="font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;">
                        {{{message}}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
